<!DOCTYPE html>

<html>
    <head>
        <title>Especialidades</title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                @* Aca van los datos que traemos desde la base de datos  *@
                <tr>
                    <td>
                        Traumatologo
                    </td>
                    <td>
                        Pediatra
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>